@charset "UTF-8";
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* box-sizing & font */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei" !important;
  /* 有無跑版技巧 */
  /* outline: 1px solid #00f; */
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.text-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* layout */
.wrap {
  width: 1024px;
  margin: 0 auto;
}

.header {
  background-image: url("../../images/Hero.png");
  height: 380px;
}

.footer {
  height: 90px;
  background: #559ac8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.k-travel-title {
  display: block;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  padding: 65px;
}

.k-travel-title span {
  font-size: 40px;
}

@media (max-width: 769px) {
  .k-travel-title {
    text-align: center;
    font-size: 70px;
    padding: 59px;
  }
  .k-travel-title span {
    display: block;
    font-size: 35px;
  }
}

#k-district-select {
  width: 30%;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid #ffffff;
  border-radius: 3px;
  margin-top: 7px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 21px;
  cursor: pointer;
  /* 移除箭頭樣式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#k-district-select:focus {
  outline: none;
}

@media (max-width: 769px) {
  #k-district-select {
    width: 50%;
  }
}

.k-travel-footer {
  font-size: 14px;
  color: #ffffff;
}

.k-travel-source {
  margin-top: 15px;
  font-size: 14px;
  color: #f5d005;
}

/* content */
.content {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
}

@media (max-width: 2000px) {
  .container {
    max-width: 960px;
  }
}

.district-content {
  width: 100%;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.district-name {
  font-size: 36px;
  color: #8a82cc;
  text-align: center;
}

.hot-district {
  margin-top: -28px;
  max-width: 800px;
  height: 112px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hot-district h2 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 26px;
}

.hot-district-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}

.hot-district-list li {
  border-radius: 5px;
  text-align: center;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.hot-district-list-link {
  display: block;
  width: 130px;
  height: 42px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 11px;
}

/* min-width：大於某寬度 */
/* max-width 小於某寬度 */
@media (max-width: 769px) {
  .hot-district {
    width: 100%;
    height: 100%;
  }
  .hot-district-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .hot-district-list li {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .hot-district-list-link {
    display: block;
    width: 100%;
  }
}

/* Card */
.district-card {
  width: 464px;
  height: 100%;
  margin-top: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 769px) {
  .district-card {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card-header {
  width: 100%;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 22px;
}

.card-header h2 {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.card-header p {
  font-size: 16px;
  color: #ffffff;
}

.card-body {
  /* height: 118px; */
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding-right: 23px;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.district-info {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.district-info p {
  display: block;
  font-size: 16px;
  color: #000000;
  margin-left: 9px;
  line-height: 1.5;
}

/* 增加 div 控制圖片外圍寬高 */
.info-img {
  width: 20px;
  height: 20px;
  text-align: center;
}

.position-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}

/* pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  margin-bottom: 39px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-prev,
.page-next {
  width: 50px;
  height: 24px;
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
}

.page-prev a,
.page-next a {
  display: block;
  padding: 5px;
  font-size: 14px;
  color: #4a4a4a;
  text-decoration: none;
}

.page-prev a:hover,
.page-next a:hover {
  color: #559ac8;
  font-weight: bold;
}

.page-item {
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

.page-link {
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  color: #4a4a4a;
  text-decoration: none;
  border-radius: 50%;
}

.page-link:hover {
  background-color: #559ac8;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.page-link.active {
  pointer-events: none;
  cursor: default;
  background-color: #559ac8;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}

.separation-line {
  width: 900px;
  margin-top: 37px;
  margin-bottom: 65px;
}

@media (max-width: 769px) {
  .separation-line {
    width: 100%;
  }
}

.line {
  border: 1px groove #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: change 5s infinite;
          animation: change 5s infinite;
}

.line::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  border-radius: 50%;
  -webkit-animation: change 5s infinite;
          animation: change 5s infinite;
}

.line img {
  position: absolute;
  z-index: 1;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

/* animation change color */
@-webkit-keyframes change {
  0% {
    border: 2px solid #559ac8;
    background: #559ac8;
  }
  20% {
    border: 2px solid #8a82cc;
    background: #8a82cc;
  }
  60% {
    border: 2px solid #f5d005;
    background: #f5d005;
  }
  80% {
    border: 2px solid #ffa782;
    background: #ffa782;
  }
  100% {
    border: 2px solid #559ac8;
    background: #559ac8;
  }
}
@keyframes change {
  0% {
    border: 2px solid #559ac8;
    background: #559ac8;
  }
  20% {
    border: 2px solid #8a82cc;
    background: #8a82cc;
  }
  60% {
    border: 2px solid #f5d005;
    background: #f5d005;
  }
  80% {
    border: 2px solid #ffa782;
    background: #ffa782;
  }
  100% {
    border: 2px solid #559ac8;
    background: #559ac8;
  }
}

/* animation 旋轉 */
@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes spin {
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* go-top */
.go-top {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 380px;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .go-top {
    bottom: 30px;
    right: 25px;
  }
}
/*# sourceMappingURL=all.css.map */