// 全站設定
// box-sizing & font
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-family: "Microsoft JhengHei" !important;
}

// 有無跑版技巧
// * {
//   outline: 1px solid #00f;
// }
