.hotDistrict {
  margin-top: -28px;
  width: 100%;
  background-color: $light;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 80px;

  @include ipad {
    width: $w-100;
    height: $h-100;
    z-index: 2;
  }
}

.hotDistrict-title {
  font-size: $font-size-l;
  color: $dark;
  font-weight: $font-weight-bold;
  margin: 20px 0;
  text-align: center;
}

.hotDistrict-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 23px;
  padding-bottom: 20px;

  @include ipad {
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 0;
  }

  &-item {
    width: $w-100;
    text-align: $text-align-center;
    margin-left: 20px;
    margin-right: 20px;
    border-block-start: 3px solid;
    border-block-end: 3px solid;

    @include ipad {
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0;
    font-weight: $font-weight-bold;

    @include ipad {
      display: block;
      width: $w-100;
      font-size: $font-size-l * 1.5;
    }
  }
}
