.kTravel-title {
  width: 100%;
  display: block;
  font-size: 80px;
  color: $light;
  font-weight: $font-weight-bold;
  padding: 65px 0;
  text-align: center;

  @include ipad {
    text-align: $text-align-center;
    font-size: 60px;
  }

  span {
    font-size: 80px;
    @include ipad {
      display: block;
      font-size: 50px 0;
    }
  }
}

.kTravel-select {
  width: 30%;
  background-color: rgba($light, 0.7);
  border: 3px solid $light;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: $font-size-l * 1.2;
  font-weight: $font-weight-bold;
  color: $dark;
  // line-height: 20px;
  cursor: pointer;
  /* 移除箭頭樣式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include ipad {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}
