// header
.header {
  // 加 ../ 能夠找到路徑
  background-image: url("../images/Hero.jpg");
  height: 380px;
  @include flex-column;
  @include bg-cover;
}

// content
.content {
  background-color: $content-bg-color;
  @include flex-column;
}

.container {
  width: $w-100;
  position: relative;
  @include flex-column;
  
  @include desktop {
    max-width: 960px;
  }
}


// footer
.footer {
  height: 90px;
  background-color: rgba($primary, .85);
  justify-content: center;
  @include flex-column;
}

.kTravel-footer {
  font-size: $font-size-s;
  color: $light;
}

.kTravel-source {
  margin-top: 15px;
  font-size: $font-size-s;
  color: $warning;
}