/* pagination */
.page {
  display: flex;
  margin-top: 39px;
  margin-bottom: 39px;
  flex-wrap: wrap;
  justify-content: center;
}

.page-direction {
  width: 50px;
  height: 24px;
  text-align: $text-align-center;

  margin-left: 18px;
  margin-right: 18px;

  &-link {
    display: block;
    padding: 5px;
    font-size: $font-size-s;
    color: #4a4a4a;
    text-decoration: none;

    &:hover {
      color: $primary;
      font-weight: $font-weight-bold;
    }
  }
}

.page-item {
  text-align: $text-align-center;
  margin-left: 4px;
  margin-right: 4px;
}

.page-link {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  &:hover {
    color: $light;
    transition: all 0.4s;
  }

  &.active {
    pointer-events: none;
    cursor: default;
    background-color: $primary;
    border-radius: 50%;
    color: $light;
    font-weight: $font-weight-bold;
  }
}
