/* pagination */
.page {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;

  @include ipad {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
}

.page-direction {
  text-align: $text-align-center;
  margin-left: 20px;
  margin-right: 20px;

  @include ipad {
    margin-left: 0px;
    margin-right: 0px;
  }

  &-link {
    display: block;
    padding: 5px;
    font-size: $font-size-s;
    color: $link-color;
    text-decoration: none;

    @include ipad {
      height: 100%;
      font-size: $font-size-l * 1.5;
      background-color: transparent;
      color: $light;
      padding: 10px;
      &:hover {
        background-color: rgba($dark, 0.5);
      }
    }
  }
}

.page-item {
  text-align: $text-align-center;
  margin-left: 4px;
  margin-right: 4px;

  @include ipad {
    display: none;
  }
}

.page-link {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  &:hover {
    color: $light;
    transition: all 0.4s;
  }

  &.active {
    pointer-events: none;
    cursor: default;
    background-color: $primary;
    border-radius: 50%;
    color: $light;
    font-weight: $font-weight-bold;
  }
}
