// districtContent
.districtContent {
  width: $w-100;
  margin-bottom: 39px;
  display: $d-flex;
  justify-content: $justify-content-center;
  align-content: center;
  flex-wrap: wrap;
}

.districtName {
  font-size: 36px;
  color: $secondary;
  text-align: $text-align-center;
}
