.kTravel-title {
  display: block;
  font-size: 80px;
  color: $light;
  font-weight: $font-weight-bold;
  padding: 65px;

  @include ipad {
    text-align: $text-align-center;
    font-size: 70px;
    padding: 59px;
  }

  span {
    font-size: 40px;
    @include ipad {
      display: block;
      font-size: 35px;
    }
  }
}

#kDistrict-select {
  width: 30%;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid $light;
  border-radius: 3px;

  margin-top: 7px;
  padding: 12px;

  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  color: $dark;
  line-height: 21px;

  cursor: pointer;

  /* 移除箭頭樣式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include ipad {
    width: 50%;
  }

  &:focus {
    outline: none;
  }
}
