/* layout */
.wrap {
  width: 1024px;
  margin: 0 auto;
}

.header {
  // 加 ../ 能夠找到路徑，有多層要繼續加 
  background-image: url("../../images/Hero.png");
  height: 380px;
  @include flex-column;
  @include bg-cover;
}

.footer {
  height: 90px;
  background: $primary;
  justify-content: center;
  @include flex-column;
}
