.separation-line {
  width: 900px;
  margin-top: 37px;
  margin-bottom: 65px;
  
  @include ipad {
    width: $w-100;
  }
}

.line {
  border: 1px groove $dark;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: change 5s infinite;

  &::after {
    content: "";
    position: absolute;

    width: 24px;
    height: 24px;
    border: 2px solid $dark;
    border-radius: 50%;

    animation: change 5s infinite;
  }

  &-img {
    position: absolute;
    z-index: 1;

    animation: spin 4s linear infinite;
  }
}

/* animation change color */
@keyframes change {
  0% {
    @include line-color-change($primary);
  }
  20% {
    @include line-color-change($secondary);
  }
  60% {
    @include line-color-change($warning);
  }
  80% {
    @include line-color-change($danger);
  }
  100% {
    @include line-color-change($primary);
  }
}

/* animation 旋轉 */
@keyframes spin {
  50% {
    transform: rotateY(360deg);
  }
}
