extend layout.jade

block indexContent
    .content
        .container
            include partials/hotDistrict.jade 

            include partials/line.jade 
            
            include partials/districtContent.jade

            include partials/page.jade
            
            
        include partials/goTop.jade