<!DOCTYPE html>
html(lang="en")
    head
        include partials/head.jade
    body
        include partials/header.jade

        block indexContent

        include partials/footer.jade

        script(src='js/all.js')