// font
$font-size-base: 1rem;
$font-size-s: $font-size-base * 0.875;   // 14px
$font-size-l: $font-size-base * 1.125;   // 18px


// color
$content-bg-color: #f5f5f5;
$primary: #559ac8;
$secondary: #8a82cc;
$warning: #f5d005;
$danger: #ffa782;
$light: #ffffff;
$dark: #000000;

// text-style
$text-align-center: center;
$font-weight-bold: bold;

$link-color: #4a4a4a;

// width
$w-100: 100%;

// height
$h-100: 100%;
